
  .ticket-card {
    width: 400px;
    overflow: hidden;

    transition: 0.3s;
    text-align: center;
    background-color: rgb(21, 21, 21);
    border: 3px solid #d9d9d9;
    border-radius: 4px;
    margin-left: 35%;
 
  } 
  h1{
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin: 12px 0;
    text-align: center;
  } 
  h2{
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin: 12px 0;
    text-align: center;
  }
  h3{
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin: 12px 0;
    text-align: center;
  } 
  .top-ticket{
    width: 100%;
  }