.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    row-gap: 20px;
    column-gap: 0px;

}
.card {
    width: 325px;
    overflow: hidden;
    background-color: #d2f9fe;
    color: #000;

    padding: 1px;
    transition: 0.3s;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 60px;
}
.card:hover{
    background-color: rgb(230, 211, 250);
}
.movie-title{
    font-size: 20px;
    margin-top: -20px;
}
.movie-img{
    width: 100%;
    height: 100%;

}
.like-button{
    margin-bottom: 30px;
}

.add-movie{
    background:  rgb(2, 221, 255);
    color: rgb(0, 0, 0);
    font-size: medium;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-left: 45%;
    margin-bottom: 2%;
}